<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include('../navbar_log.ejs') %>
    <div class="container">
        <h1> Welcome to the dashboard </h1>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= user.username %>  </h5>
                      <p class="card-text"> <%= user.time_stamp %>   </p>
                        <a href="/admin" class="card-link">Admin Panel</a>
                        <a href="/auth/sign-out" class="card-link">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-sum">
            </div>
        </div>
        <form action="/post/create" method="post">
            <label for="name">Write a title </label>
            <input type="text" name="title" class="form-group form-control" required />
            <label for="name">Write a text</label>
            <textarea id="text" name="content" class="form-group form-control"> </textarea>
            <button type="submit" class="btn btn-primary">Create</button>
            <div id="map" style="height:400px; width:50%;"></div>

        </form>
    </div>
</body>
</html>
<script src="/scripts/mapInit.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0gFG8aRTRnCGuZsHIk3UZts5qZYISNqw&callback=initMap"></script>
