body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    font-family: Poppins, sans-serif;
}
main {
    background-color: white;
}
/* Header styles */
h2 {
    font-size: 24px;
    margin: 20px 0;
}


/*  card styles */
.breeds-card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

.breeds-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.breeds-card p {
    margin: 10px 0;
    font-size: 16px;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.breeds-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
}

.breeds-table th, .breeds-table td {
    border: 0px;
    padding: 5px;
    text-align: left;
}

.logo {
    font-family: Poppins, sans-serif;
    font-size: 25PX;
}


.hhh {
    position: relative;
    max-width: 500px; /* Maximum width */
    margin: 0 auto; /* Center it */
}


.hhh img {
    vertical-align: middle;
}

.hhh .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 460px; /* Full width */
    padding: 20px; /* Some padding */
}



.main-banner {
    position: relative;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}



.video-overlay {
    position: absolute;
    background-color: rgba(108, 161, 224, 0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: mediumseagreen;
    font-weight: 900;
}

.carousel1{
    position: relative;
    width:450px;
    height:450px;
}
.images {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}



/*-----------------------------*/


#searchInput {
    width: 200px;
    margin-top: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.image-container {
    width: 150px; /* Adjust the width of the image container as needed */
}

.ingredient-list,
.instruction-list {
    flex-basis: 50%; /* Set both lists to occupy 50% of the available width */
}

@media (max-width: 768px) {
    .ingredient-list,
    .instruction-list {
        flex-basis: 100%; /* On smaller screens, make the lists occupy 100% width */
    }
}

.ingredient-card,
.instruction-card {
    flex-basis: 48%;
    border: none; /* Remove the border */
    margin: 0 1%;
    border-radius: 15px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for the shadow effect */
    transition: box-shadow 0.3s ease; /* Add transition for a smooth shadow effect */
}

.ingredient-card:hover,
.instruction-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the shadow on hover */
}

@media (max-width: 768px) {
    .ingredient-card,
    .instruction-card {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.media-body {
    padding-top: 20px; /* Adjust the top padding inside the media body */
}

/* styles/style.css */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.breeds-item {
    animation: fadeIn 1.0s ease-in-out; /* Apply fade-in animation to  items */
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style for navbar background and text color change */
.sticky-top.scrolled {
    background-color: #333; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
}


